.header {
    width: 100%;
    height: 100px;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 600px;

    border: 1px solid red;
}

.btn_container {
    width: 100%;
    height: 50px;

    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.friend_list_container {
    width: 100%;
    height: 500px;

    border: 2px solid blue;

    max-height: 600px; /* 최대 높이 지정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    border: 1px solid #ccc; /* 스크롤 가능한 컨테이너를 시각적으로 나타내기 위한 예시 스타일 */
    /* 스크롤바 스타일 추가 */
    scrollbar-width: thin; /* Firefox에서 스크롤바 너비 지정 */
    scrollbar-color: dark gray lightgray; /* Firefox에서 스크롤바 색상 지정 */
    overflow-x: hidden; /* 가로 스크롤 숨기기 */
}

.friend_list_container::-webkit-scrollbar {
    width: 8px; /* Chrome, Safari, Edge 등에서 스크롤바 너비 지정 */
}

.friend_list_container::-webkit-scrollbar-thumb {
    background-color: darkgray; /* 스크롤바 손잡이의 색상 지정 */
    border-radius: 6px; /* 스크롤바 손잡이의 모서리를 둥글게 만듭니다. */
}

.friend_box {
    width: 100%;
    height: 35px;
    /*border: 3px solid #151b21;*/
    background: #151b21;
    padding: 10px;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.friend_box_profile {
    width: 35px;
    height: 35px;
    /*aspect-ratio: 1;*/
    /*height: 100%;*/
    border: 1px solid black;

    border-radius: 30px;
}

.friend_box_content {
    width: 250px;
    margin: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}

.friend_box_delete_btn {
    width: 30px;
    height: 30px;
    background: none;
    font-size: 20px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    /*border-radius: 15px;*/
    /*border: none;*/
}

.profile_img {
    width: 100%;
    height: auto;

    border-radius: 30px;
}




.footer {
    width: 100%;
    /*height: 100px;*/

    /*border: 1px solid red;*/
}