.wrapper {
    /*border: 1px solid red;*/
    width: 100%;
    height: 100%;
}

.setting_container {
    /*border: 1px solid red;*/
    width: 100%;
    height: 90px;
}




.content_container {
    /*border: 1px solid green;*/
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content_container_team_div {
    /*border: 1px solid black;*/
    width: 500px;
    height: 230px;
}

.teamed_summoner_div {
    /*border: 1px solid blue;*/
    border-bottom: 1px solid rgba(255,255,255, 0.3);

    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;

}

.teamed_summoner_level {
    margin-left: 10px;
}

.teamed_summoner_div img {
    width: 35px;
    height: auto;
    border-radius: 30px;

    margin-left: 15px;
}

.teamed_summoner_nickname {
     width: 300px;

    display: flex;
    margin-left: 10px;
}

.teamed_summoner_tier {
    font-size: 13px;
    margin-left: 5px;
}


.result_container{
    border: 1px solid blue;
    width: 100%;
    height: 350px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
}

.result_mode_false_container {
    border: 3px solid rosybrown;
    width: 400px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /*margin-top: 30px;*/
}

.no_team_summoner_List {
    border: 1px solid blue;
    width: 400px;
    height: 250px;

    /*display: flex;*/
    /*flex-direction: column;*/
}

.no_team_summoner {
    width: 48%;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: rgb(174, 176, 104);
    margin-top: 5px;
    margin-left: 3px;
}

.make_result_btn {
    margin-top: 5px;
    width: 150px;
    height: 40px;

}