.wrapper {
    /*border: 1px solid red;*/
    width: 100%;
    height: 100%;
}

.setting_container {
    /*border: 1px solid red;*/
    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: row;
    align-items: center;

}
.mode_select_div {
    width: 200px;
    height: 50px;
    /*border: 1px solid blue;*/

    margin-left: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mode_select_div select {
    width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: #1F1A2A;
    padding: 0 10px;
    color: white;
    border: 2px solid rgb(48, 99, 94);
}

.reset_btn_div {
    /*width: 100px;*/
    /*height: 40px;*/

    margin-left: 750px;
}

.reset_btn_div input {
    width: 140px;
    height: 40px;

    background-color: rgba(31,26,42, 1);
    border: 2px solid rgb(48, 99, 94);
    color: white;
    box-shadow: 1px 1px 1px black;
}
.reset_btn_div input:hover {
    background-color: #1F1A2A;
}

.reset_btn_div input:active {
    margin-top: 1px;
    margin-left: 1px;
    box-shadow: none;
}




.content_container {
    /*border: 1px solid green;*/
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content_container_team_div {
    /*border: 1px solid red;*/
    width: 500px;
    height: 230px;
}

.teamed_summoner_div {
    /*border: 1px solid blue;*/
    border-bottom: 1px solid rgba(255,255,255, 0.3);

    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;

}

.teamed_summoner_level {
    /*border: 1px solid red;*/
    width: 40px;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.teamed_summoner_div img {
    border-radius: 30px;

    margin-left: 15px;
}

.teamed_summoner_nickname {
     width: 300px;

    display: flex;
    margin-left: 10px;
}

.teamed_summoner_tier {
    font-size: 13px;
    margin-left: 5px;
}

.empty_teamed_summoner_div {
    border-bottom: 1px solid rgba(255,255,255, 0.3);

    width: 100%;
    height: 40px;

    /*color: rgba(255,255,255, 0.3);*/
    color: rgba(61, 82, 61, 0.5);

    display: flex;
    flex-direction: row;
    align-items: center;

}

.empty_teamed_summoner_div span {
    margin-left: 10px;
}

.result_container{
    /*border: 1px solid blue;*/
    width: 100%;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result_mode_true_container {
    /*border: 1px solid blue;*/
    width: 350px;
    height: 330px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-end;*/
}

.result_mode_true_container div {
    /*border: 1px solid blue;*/
}

.result_mode_true_container input[type="button"] {
    width: 150px;
    height: 40px;

    background-color: rgba(31,26,42, 0.05);
    border: 2px solid rgba(174, 150, 60, 0.7);
    color: white;

    box-shadow: 2px 2px 2px black;

    margin-top: 260px;
}

.result_mode_true_container input[type="button"]:hover {
    background-color: #1F1A2A;
}

.result_mode_true_container input[type="button"]:active {
    margin-top: 261px;
    margin-left: 1px;
    box-shadow: none;
}

/*.copy_btn:active {*/
/*    margin-top: 2px;*/
/*    margin-left: 2px;*/
/*    box-shadow: none;*/
/*}*/

/*.again_btn:active {*/
/*    margin-top: 1px;*/
/*    margin-left: 2px;*/
/*    box-shadow: none;*/
/*}*/

.result_mode_false_container {
    border: 1px solid rosybrown;
    /*border: 5px solid rgba(0,0,0, 0.1);*/
    width: 400px;
    height: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /*margin-top: 30px;*/
}

.no_team_summoner_List {
    /*border: 1px solid blue;*/
    width: 400px;
    height: 240px;
    margin-bottom: 10px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.no_team_summoner {
    width: 48%;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: rgb(174, 176, 104);
    margin-top: 5px;
    margin-left: 3px;

}

.make_result_btn {
    margin-top: 10px;
    width: 150px;
    height: 40px;

    background-color: rgba(31,26,42, 0.05);
    border: 2px solid rgb(48, 99, 94);
    color: white;

    box-shadow: 4px 4px 4px black;
}

.make_result_btn:hover {
    background-color: #1F1A2A;
}
.make_result_btn:active {
    margin-top: 11px;
    margin-left: 4px;
    box-shadow: none;
}
