.wrapper {
    width: 1600px;
    height: 800px;

    display: flex;
    flex-direction: row;

    border: 1px solid red;
}

.left_wrapper {
    width: 100%;
    height: 100%;

    border: 1px solid black;

    background-image: url("/images/forest.png");
    background-size: cover;
}

.right_wrapper {
    width: 500px;
    height: 100%;

    border: 1px solid black;
}