.background {
    width: 1600px;
    height: 800px;

    /*background-color: bisque;*/
}

.video-background {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*.logo {*/
/*    width: 300px;*/
/*    height: 200px;*/
/*    z-index: 1;*/
/*}*/

/* 레이오버 */
.logo {
    width: 400px;
    height: 250px;
    z-index: 1;

    position: absolute;
    top: 110px;
    left: 250px;
    background-size: cover;
    opacity: 1; /* 원하는 투명도로 조정 */
}

.login_box {
    width: 400px;
    height: 500px;
    /*aspect-ratio: 1 / 1.25;*/
    background-color: blue;

    position: absolute;
    top: 300px;
    left: 250px;
    background-size: cover;
    opacity: 1; /* 원하는 투명도로 조정 */
}