.background {
    width: 1600px;
    height: 800px;

    /*background-color: bisque;*/
}

.video-background {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*.logo {*/
/*    width: 300px;*/
/*    height: 200px;*/
/*    z-index: 1;*/
/*}*/

/* 레이오버 */
.logo {
    width: 400px;
    height: 250px;
    z-index: 1;

    position: absolute;
    top: 90px;
    left: 200px;
    background-size: cover;
}


.wrapper {
    width: 400px;
    height: 500px;
    /*background-color: rgba(31,26,42, 0.95);*/
    /*background-color: blue;*/

    position: absolute;
    top: 300px;
    left: 200px;

    /*border: 3px solid red;*/
}

.login_box {
    width: 400px;
    height: 390px;
    background-color: rgba(31,26,42, 0.95);

    border: 1px solid black;
    box-shadow: 3px 3px 5px black;
}

.header {
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    /*border-bottom: 1px solid black;*/
}

.header span {
    margin-left: 20px;
}

.content_wrapper {
    width: 400px;
    height: 200px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    width: 330px;
    height: 100%;

    border-top: 2px solid black;
    border-bottom: 2px solid black;



    display: flex;
    flex-direction: column;

}

.content input {
    height: 25px
}

.name_span {
    margin-top: 15px;
}

.password_span {
    margin-top: 15px;
}

.login_btn_wrapper {
    margin-top: 13px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.login_btn_wrapper input[type="button"] {
    width: 110px;
    height: 30px;

    font-size: 17px;
}

.login_btn_enabled {
    background: linear-gradient(Navajowhite 1%, Orange);
    color: white;
}

.login_btn_disabled {
    background: linear-gradient(lightgrey 10%, darkslategrey);
    color: lightgrey;
    border: none;
}

.footer {
    padding: 0 35px;

    font-size: 17px;
}

.footer div {
    margin-top: 20px;
}

.description {
    margin-top: 15px;
    border: 1px dashed blue;
}