.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F1A2A;

    width: 400px;
    height: 270px;

    border: 3px solid black;
}

.modal_content_text_div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*border: 1px solid red;*/

    width: 100%;
    height: 80px;

    font-size: 18px
}

.input_div {
    /*border: 1px solid red;*/
    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_div input::placeholder {
    font-size: 16px;
}

.input_div span{
    margin-left: 50px;
}


.nickname_input_bar {
    margin-left: 25px;

    width: 200px;
    height: 25px;

    background-size: contain;
    background-repeat: no-repeat;
    font-size: 20px;

}

.tagline_input_bar {
    margin-left: 10px;
    margin-top: 10px;

    width: 200px;
    height: 25px;

    background-size: contain;
    background-repeat: no-repeat;
    font-size: 20px;
}
.modal_tagline_search_bar ::placeholder {
    font-size: 15px;
}

.modal_result_text_div {
    /*border: 1px solid red;*/
    width: 100%;
    height: 35px;

    text-align: center;

    font-size: 18px;
}

/*.modal_content_input_div span {*/
/*    margin-top: 10px;*/
/*}*/

.btn_div {
    width: 100%;
    height: 50px;
    /*border: 1px solid red;*/

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btns_wrapper {
    /*border: 1px solid red;*/
    width: 170px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btns_wrapper input[type="button"] {
    width: 70px;
    height: 45px;

    background-color: rgba(31,26,42, 1);
    border: 2px solid rgb(48, 99, 94);
    color: white;
    box-shadow: 1px 1px 1px black;
}

/*.btns_wrapper input[type="button"]:hover {*/
/*    background-color: rgba(31,26,42, 1);*/
/*}*/

.btns_wrapper input[type="button"]:active {
    margin-top: 1px;
    margin-left: 1px;
    box-shadow: none;
}