.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F1A2A;

    width: 400px;
    height: 300px;
}

.modal_close {
    width: 100%;
    height: 50px;
    border: 1px solid red;
}

.modal_close span {
    font-size: 30px;
    border: 1px solid red;
}

.modal_content_text_div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid red;

    width: 100%;
    height: 80px;

    font-size: 18px
}

.modal_content_input_div {
    border: 1px solid red;
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
}

.modal_content_search_bar {
    /*margin-top: -20px;*/

    width: 200px;
    height: 30px;

    background-size: contain;
    background-repeat: no-repeat;
    font-size: 20px;

    margin-left: 80px;
}

.modal_content_add_btn {
    width: 45px;
    height: 35px;

    margin-left: 10px;
    /*background: none;*/
    /*border: none;*/
    /*color: white;*/
}

.modal_result_text_div {
    border: 1px solid red;
    width: 100%;
    height: 25px;

    text-align: center;

    font-size: 18px;
}

/*.modal_content_input_div span {*/
/*    margin-top: 10px;*/
/*}*/

